---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

<h1>our workplace</h1>

<div class="poster">
	<h3>Last Project</h3>

	<ul class="lista">
		<li>➡️  Making a video game</li>
		<li>➡️</li>
		<li>➡️ </li>
		<li>➡️ </li>
	</ul>
</div>

<div class="projects">
	<h3>Projects</h3>

	<ul class="lista">
		<li>➡️ floating table</li>
		<li>➡️  recreate my game</li>
		<li>➡️ </li>
		<li>➡️ </li>
	</ul>
</div>

<div class="thingsido">
	<h3>Things i need to do</h3>

	<ul class="tils">
		<li> i need to recreate my game  </li>
	</ul>
</div>


{# <p>
	<img class="centered-image" src="./possum.png" alt="A possum parent and two possum kids hanging from the iconic red balloon">
</p> #}



