---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

<h1></h1>

<div class="poster">
	<h3>Last work</h3>

	<ul class="lista">
		<li>➡️ </li>
		<li>➡️</li>
		<li>➡️ </li>
		<li>➡️ </li>
	</ul>
</div>

<div class="projects">
	<h3>Projects</h3>

	<ul class="lista">
		<li>➡️ floating table</li>
		<li>➡️ </li>
		<li>➡️ </li>
		<li>➡️ </li>
	</ul>
</div>

<div class="things i do">
	<h3>Things i do</h3>

	<ul class="tils">
		<li> hello </li>
	</ul>
</div>


{# <p>
	<img class="centered-image" src="./possum.png" alt="A possum parent and two possum kids hanging from the iconic red balloon">
</p> #}



