---js
const eleventyNavigation = {
	key: "Info",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

<h1>Rocket League International Community</h1>
This Website is so you can get in contact with us and a place to check out what is going on in RLIC!

Enjoy!
